body{
    font-family: Roboto, Helvetica, sans-serif;
  }
  
  header, main, footer {
    width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(255, 253, 253);
    padding: 1rem; 
    background-color: #608198;
  }

  header {
    color: white;
    text-align: center;
  }

  footer {
    color: white;
    text-align: center;
  }
  
  img {
    width: 610px;
  }
  
  section {
    padding: 1rem;
    background-color: white;
    }