body,
ul {
    margin: 0;
    padding: 0;
    background-color: #e1e7ec;
}

/* Header */

#menu {
    display: none;
}
.nav {
    color: black;
    list-style-type: none;
    background-color: #608198;
    padding: 15px;
    text-align: center;
}
.nav li:hover {
    background-color: #506e83;
    border-radius: 5px;
}
.nav li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 70px;
    font-family: 'Poppins', 'Arial';
}
.nav li:last-child {
    margin-right: 0;
}
.nav li:first-child {
    margin-left: 10px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .1s ease-in-out;
}
.mobile-controls {
    display: flex;
    align-items: center;
}
/* Main */

.hero {
    position: relative;
    text-align: center;
    font-family: 'Poppins', 'Arial';
    font-size: 2rem;
    background-image: url("https://axtonhatch.github.io/wdd230/scoots/images/road.jpg"); opacity: 0.7;
    background-size: cover;
    background-position: center;
    height: 345px;
}
.heroText h2 {
    font-family: 'Gabarito', 'Poppins', 'Arial';
    font-size: 4rem;
    position: absolute;
    top: 20%;
    margin: 0;
    color: black;
    left: 50%;
    transform: translateX(-50%);
}
.heroText button{
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    color: white;
    background-color: #506e83;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.254);
    box-sizing: border-box;
    font-family: 'Gabarito', 'Poppins', 'Arial';
}
.heroText img {
    position: absolute;
    top: 30%;
    border-radius: 20px;
    width: 20%;
    left: 40%;
}

/* Rental Information */

#scroll {
    display: none;
}
.rental {
    background-color: #fff;
    margin: 0 10%;
    padding: 030px;
    border-radius: 20px;
    box-shadow: 0 4px 6px #0000003e;
}
.rental table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.rental td {
    font-family: 'Poppins', 'Arial';
    text-align: center; 
    border-bottom: 1px solid #000000;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 10px;
}
.rental th {
    font-family: 'Gabarito', 'Arial';
    font-weight: 600;
    border-bottom: solid 3px;
    padding:20px;
}
.reserveButton {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #608198;
    color: white;
    font-family: 'Gabarito', 'Arial';
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.319);
}
.reserveButton:hover {
    background-color: #506e83;
}
.butt {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

/* Summary */

.summary {
    text-align: center;
}
.social p {
    font-family: 'Gabarito', 'Poppins', 'Arial';
    font-size: 2rem;
    background-color: white;
    margin: 40px 30%;
    padding: 10px;
    border-radius: 20px;
}
.social img {
    width: 70px;
    margin: 0 30px;
    padding: 10px;
}
.call h3 {
    text-align: center;
    background-color: white;
    color: black;
    margin: 40px ;
    font-size: 1.5rem;
    font-family: 'Poppins', 'Arial';
    padding: 30px;
    border-radius: 10px;
    box-shadow:  0 4px 6px #0000005e
}
.call {
    display: flex;
}
.cozumelscooter {
    width: 250px;
    margin: 40px;
    border-radius: 15px;
    box-shadow:  0 4px 6px #0000005e
}

/* Weather */

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:20px;
    margin: 75px;
}
.weather h3 {
    background-color: #c1cfda;
    color: black;
    font-size: 1.5rem;
    margin: 50px 5%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Gabarito';
}
.weather p {
    font-family: 'Poppins', 'Arial';
}
.Cweather {
    grid-column: 1;
    grid-row: 1;
}
.Tweather {
    grid-column: 2;
    grid-row: 1;
}
.weatherDetails {
    background-color: white;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    justify-content: center;
    box-shadow:  0 4px 6px #0000003e;
}
#forecast {
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    box-shadow:  0 4px 6px #0000005e;
}
#forecast p:last-child {
    margin-bottom: 50px;
}
.closeable-message {
    background-color: #c1cfda;
    color: black;
    font-size: 1rem;
    font-family: 'Gabarito', 'Arial';
    padding: 0;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.closebtn {
    background-color: #608198;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 10px;
}
.closebtn:hover {
    background-color: #506e83;
}

/* Footer */

footer {
    background-color: #608198;
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins', 'Arial';
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.foot {
    display: grid;
    grid-template-columns:  1fr 1fr ;
}

/* Rent Page */

.rentals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.rentalHeader {
    color: white;
    background-color: #608198;
    text-align: center;
    margin: 30px 30%;
    border-radius: 10px;
    font-family: 'Gabarito', 'Arial';
    box-shadow: 0 4px 6px #00000051;
}
#scooterSection h4, #atvSection h4, #carSection h4 {
    background-color: #608198;
    font-family: 'Gabarito', 'Arial';
    color: white;
    margin: 0 30%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px #0000003e;
    font-size: 1.5rem;
}
#scooterSection, #atvSection, #carSection {
    background-color: white;
    margin: 3%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}
#atvSection {
    height: 31%;
}
#carSection {
    height: 63%;
}
#scooterSection h3, #atvSection h3, #carSection h3 {
    background-color: #c1cfda;
    padding: 10px;
    margin: 10px 15%;
    border-radius: 8px;
    font-family: 'Gabarito', 'Arial';
    color: black;
}
#scooterSection p, #atvSection p, #carSection {
    font-family: 'Poppins', 'Arial';
    font-size: 1.2rem
}
#scooterSection div, #atvSection div, #carSection div {
    border-bottom: solid 1px black;
}
#scooterSection div:last-child, #atvSection div:last-child, #carSection div:last-child {
    border-bottom: none;
}

/* Reserve page Form */

.reserveMain {
    display: block;
    align-items: center;
    margin: 60px ;
  }
  .reservation-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000003e;
    margin: 0 20%;
  }
  .reservationh1 {
    background-color: #608198;
    color: white;
    text-align: center;
    margin: 20px 22%;
    padding: .5px;
    font-family: 'Gabarito', 'Arial';
    border-radius: 10px;
  }
  .reservation-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-decoration: underline;
  }
  .reservation-form input[type="date"], .reservation-form input[type="text"], .reservation-form input[type="email"], .reservation-form input[type="number"], .reservation-form select, .reservation-form button {
    font-family: 'Gabarito', 'Arial';
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .reservation-form input:required:invalid, .reservation-form select:required:invalid {
    border-color: #506e83;
    font-family: 'Poppins';
  }
  .reservation-form input:required:valid, .reservation-form select:required:valid {
    border-color: green;
  }
  .reservation-form button {
    background-color: #506e83;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .reservation-form button:hover {
    background-color: #506e83;
  }
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    width: 40%;
    height: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c1cfda;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.558);
  }
  .modal-content {
    text-align: center;
    font-family: 'Gabarito';
    font-size: 1.5rem;
  }
  .modal-content button {
    background-color: white;
    border: none;
    width: 70%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.27);
    cursor: pointer;
  }
  .cont-agreements h3{
    margin: 10px 20%;
  }
  .agreements h2 {
    text-align: center;
  }
  .agreements {
    background-color: #c1cfda;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Gabarito', 'Arial';
    margin: 10px 20%;
  }


/* contact page */

#contactForm {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: 'Gabarito', 'Arial';
    text-decoration: underline;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: 'Gabarito', 'Arial'
}
input[type="text"], input[type="email"], textarea {
    width: calc(100% - 18px);
    font-size: 1.5rem;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    background-color: #608198;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}
button[type="submit"]:hover {
    background-color: #506e83;
}
h3 {
    text-align: center;
    font-family: 'Gabarito', 'Arial';
    background-color: #c1cfda;
    color: black;
    padding: 10px;
    font-size: 2rem;
    margin: 40px 20%;
    border-radius: 8px;
    box-shadow: 0 4px 6px #00000041;
}
.maps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
iframe {
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000003e;
    background-color: #608198;
    padding: 1px;
}

/* Contacted Page /Thank You Page */

.contacted h2, .thankYou h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Gabarito', 'Arial';
    font-size: 2rem;
    background-color: #c1cfda;
    color: black;
    margin: 40px 20% 0;
    border-top-left-radius:20px; 
    border-top-right-radius: 20px;
    padding: 30px;
    box-shadow: 0 6px 6px #0000003e;
}
.contacted p, .thankYou p{
    text-align: center;
    font-family: 'Poppins', 'Arial';
    background-color: #608198;
    color: white;
    font-size: 2rem;
    margin: 0 20% 40px;
    border-bottom-left-radius:20px; 
    border-bottom-right-radius: 20px;
    box-shadow: 0 6px 6px #0000003e;
    padding: 40px;
}
.contacted a, .thankYou a {
    position: absolute;
    width: 15%;
    text-align: center;
    margin-left: 42.5%;
    color: white;
    background-color: #608198;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.5rem;
    font-family: 'Gabarito', 'Arial';
    border-radius: 20px;
    box-shadow: 0 4px 6px #0000003e
}
.contacted a:hover {
    background-color: #506e83;
}
.footContacted {
    position: fixed;
    bottom: 0;
}