@media (max-width: 500px) {
    body{
        background-color: #608198;
    }
    main {
        background-color: #9c9c9c;
        padding: 10px;
    }

    /* NavBar */

    .nav {
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        padding: 40px;
        z-index: 1;
        opacity: 0;
        background-color: #608198;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .nav.show {
        opacity: 1;
        transform: translateX(0);
    }
    .nav a{
        font-size: 2rem;
        text-align: right;
        background-color: #608198;
        padding: 10px;
        width: 100%;
        border-radius: 20px;;
    }
    .nav li {
        display: none;
    }
    #menu {
        z-index: 2;
        display: block;
        position: fixed;
        border: none;
        top: 15px;
        right: 0;
        background: none;
        height: 60px;
    }
    #menu.show::before {
        font-family: 'Gabarito', 'Poppins', 'Arial';
        content: 'Menu';
        vertical-align: middle;
        display: inline-block;
        font-weight: 600;
        color: white;
        background-color: #608198;
        padding: 14px;
        border-radius: 10px;
        font-size: 1.5rem;
    }
    #menu::before {
        font-family: 'Gabarito', 'Poppins', 'Arial';
        content: 'Menu ✖︎';
        vertical-align: middle;
        display: inline-block;
        font-weight: 600;
        color: #608198;
        background-color: white;
        padding: 14px;
        border-radius: 10px;
        font-size: 1.5rem;
    }
    .show li {
        display: flex;
        flex-direction: column;
    }
    ul.nav.show li:first-child {
        margin-top: 50px;
    }
    ul.nav.show li {
        text-align: right;
        margin: 0;
        padding-top: 40px;
    }
    
    /* main */

    .hero {
        height: 500px;
        border-radius: 8px;
    }
    .heroText h2 {
        display: none;
    }
    .heroText img {
        position:absolute;
        width: 80%;
        left: 9%;
        top: 25%;
        border: solid 2px #506e83;

    }
    .heroText button {
        width: 70%;
    }

    /* Rental Table */

    #scroll {
        display: block;
        position: relative;
        text-align: center;
        margin: 0 10% 30px;
        font-size: 1.5rem;
        padding: 10px;
        background-color: #ddd;
        font-family: 'Gabarito', 'Arial';
        border-radius: 10px;
    }
    .rental {
        margin: 0 5%;
        padding: 10px;
        border-radius: 10px;
        overflow-x: auto;
      }
    
      .rental table {
        width: auto;
        border-collapse: collapse;
        margin-bottom: 10px;
        overflow: auto;
      }
    
      .rental td {
        font-family: 'Poppins', 'Arial';
        text-align: center; 
        border-bottom: 1px solid #ddd;
        border-right: solid 1px;
        padding: 5px;
        white-space: nowrap;
      }
    
      .rental th {
        font-family: 'Gabarito', 'Arial';
        font-weight: 600;
        border-bottom: solid 2px;
        padding: 8px;
      }
      .reserveButton {
        margin: 30px 20%;
      }
    
    /* Summary */

    .social p {
        margin: 40px 10%;
    }
    .social img {
        width: 100px;
        margin: 5px;
        padding: 5px;
        border-radius: 100px;
    }
    .call h3 {
        margin: 30px 5%;
        font-size: 1rem;
    }

    /* Weather */ 

    .weather {
        margin: 30px 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .weatherDetails {
        grid-column: 1;
        grid-row: 1;
    }
    #forecast {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 30px;
    }
    .closeable-message {
        top: 80px;
        text-align: right;
        margin: 0 10px;
        padding: 10px
    }

    /* Footer */

    footer {
        position: absolute;
        box-sizing: border-box;
        text-align: center;
    }


    /* Rent Page */

    .rentalHeader{
        border-radius: 0;
        margin: 80px 10%;
        padding: 5px;
        border-radius: 8px;
    }
    #scooterSection, #atvSection, #carSection {
        margin: 0 3%;
        padding: 20px;
        margin-bottom: 30px;
    }
    #scooterSection h3, #atvSection h3, #carSection h3 {
        margin: 10px 5%;
    }
    #scooterSection h4, #atvSection h4, #carSection h4 {
        background-color: #608198;
        font-family: 'Gabarito', 'Arial';
        color: white;
        margin: 0 10%;
        padding: 10px;
        font-size: 1.2rem;
    }

    /* Reserve page Form */

    .reserveMain {
        margin: 0;
    }
    .reserveMain h1 {
        width: 94%;
        margin: 0 0 20px;
        font-size: 1.5rem;
    }
    .reservation-form {
        background-color: white;
        width: 100%;
        margin: 80px 5%;
    }
    .reservation-form label {
        font-size: 1.2rem;
    }
    #chooseDate {
        width: 100%;
    }
    .modal {
        display: none;
        top: 50%;
        width: 80%;
        height: 50%;
        left: 50%;
    }
      .modal-content button {
        width: 70%;
        height: 70px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-family: 'Poppins', 'Arial';
    }
    .reservation-form input[type="date"], .reservation-form input[type="text"], .reservation-form input[type="email"], .reservation-form input[type="number"], .reservation-form select, .reservation-form button {
      font-size: 1rem;
    }

    /* contact for */

    #contactForm {
        margin-top: 80px;
        font-size: 1.5rem;
    }
    .getHelp {
        height: 80px;
        font-size: 1.5rem;
    }
    .contactPage h3 {
        margin: 0;
    }
    input[type="text"], input[type="email"], textarea {
        font-size: 1.5rem;
    }

    /* Contacted / Thank you */

    .contacted h2, .thankYou h2 {
        margin: 80px 5% 0;
        padding: 10px;
    }
    .contacted p, .thankYou p{
        font-size: 1.3rem;
        margin: 0 5% 40px;
        padding: 10px;
    }
    .contacted a, .thankYou a {
        width: 90%;
        margin: 5%;
        left: 0;
    }
}