@media only screen and (min-width: 641px ) {
  body {
    width: 750px;
  }

  #menu {
    display: none;
  }
    
  nav ul {
    display: flex;
  }
    
  nav ul li {
    flex: 1 1 100%;
  }
    
  #navigation {
    display: flex;
    flex-direction: row;
  }

  .open li a {
    display: block !important;
  }
  #navigation::before { 
    display: block !important;
  }

}