@media only screen and (min-width: 641px ) {
	body {
    max-width: 900px;
  }

	#menu {
		display: none;
	}

    

	.navigation li a {
    display: block;
		flex: 1 1 100%;
    color: black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
   }
}